{% extends "frontend/base.html" %}

{% block content %}
<section aria-labelledby="todolist-label">
    <div id="app"></div>

    <script type="text/babel">
    let apiBase = "http://localhost:8000/api";
    class ListItem extends React.Component {
        render() {
            const {index, todo, toggleTodo, deleteTodo} = this.props;
            return(
            <li key={todo.id}>
                <input type="checkbox" id={"todo-item-" + index} checked={ todo.completed } onChange={(e) => toggleTodo(todo, e.target.checked)} />
                <label htmlFor={"todo-item-" + index}>{todo.title}</label>
                <button data-element="todo-delete" aria-label={"Delete " + todo.title + "?" } onClick={() => deleteTodo(todo)}><svg><use xlinkHref="#trash-icon"></use></svg></button>
            </li>
            )
        }
      }

      class App extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                todoList: [],
                newItemText:'',
                statusMessage:'',
            }
        };

        componentDidMount() {
            this.fetchTodos()
        }

        getCookie = name => {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        addFeedback = msg => {
            this.setState({
                statusMessage: msg
            })
        }

        addTodo = e => {
            e.preventDefault();

            let todoTitle = this.state.newItemText;
            let todoStatus = false;
            let csrftoken = this.getCookie('csrftoken');
            let apiURL = `${window.apiBase}/create/`;

            fetch(apiURL, {
                method: 'POST',
                headers: {
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken
                },
                body:JSON.stringify({'title':this.state.newItemText, 'completed':false})
            }).then((response) => {
                this.addFeedback(`${todoTitle} has been added`);
                this.resetForm()
                this.resetState()
                this.fetchTodos()
            }).catch(function(error) {
                console.log('ERROR', error);
            });
        }

        deleteTodo = todo => {
            let csrftoken = this.getCookie('csrftoken');
            let apiURL = `${window.apiBase}/delete/${todo.id}/`;

            fetch(apiURL, {
                method: 'DELETE',
                headers: {
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken
                },
            }).then((response) => {
                document.getElementById('todolist-label').focus();
                this.addFeedback(`${todo.title} has been deleted`);
                this.fetchTodos();
            })
        }

        toggleTodo = (todo, checked) => {
            let csrftoken = this.getCookie('csrftoken');
            let apiURL = `http://localhost:8000/api/update/${todo.id}/`;
            let todoState = checked ? "checked" : "unchecked";

            fetch(apiURL, {
                method: 'PATCH',
                headers: {
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken
                },
                body:JSON.stringify({'completed':checked})
            }).then((response) => {
                this.addFeedback(`${todo.title} has been ${todoState}`);
                this.fetchTodos();
            });
        }

        fetchTodos = () => {
            fetch(`${window.apiBase}`)
            .then(response => response.json())
            .then(data => 
                this.setState({
                    todoList:data
                })
            )
        }

        resetForm = () => {
            let todoForm = document.getElementsByTagName('form')[0];
            todoForm.reset();
        }

        resetState = () => {
             this.setState({
                newItemText: ''
             })
        }

        updateItem = e => {
            var value = e.target.value

            this.setState({
                newItemText: value
            })
        }
        
        render() {
            let todos = this.state.todoList;
            
            return(
                <section>
                    <h1 id="todolist-label" tabIndex="-1">My Todo List</h1>
                    <ul className="todo-list">
                        {todos.map((todo, index) =>{
                            return(<ListItem key={todo.id} todo={todo} index={index} toggleTodo={this.toggleTodo} deleteTodo={this.deleteTodo}></ListItem>)
                        })}
                    </ul>
                    <div className="empty-state">
                        <p>Your todo list is empty! If you have more things to do you can add them below.</p>
                    </div>
                    <form onSubmit={this.addTodo}>
                        <input type="text" value={this.state.newItemText} aria-invalid="true" aria-label="Write a new todo item" placeholder="e.g. Go outside" onChange={this.updateItem} />
                        <button type="submit">Add</button>
                    </form>
                    <div role="status" aria-live="polite" className="sr-only">{ this.state.statusMessage }</div>
                </section>
            )
        }
      }

      ReactDOM.render(<App />, document.getElementById('app'));
    </script>
</section>
{% endblock %}

{% block footer %}
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}