{% extends "frontend/base.html" %}

{% block content %}
<section aria-labelledby="todolist-label">
    <h1 id="todolist-label" tabindex="-1">My Todo List</h1>
    <ul class="todo-list">{% for todo in latest_todo_list %}<li>{{ todo.title }}</li>{% endfor %}</ul>
    <div class="empty-state">
        <p>Your todo list is empty! If you have more things to do you can add them below.</p>
    </div>
    <form>
        <input type="text" aria-invalid="true" aria-label="Write a new todo item" placeholder="e.g. Go outside">
        <button type="submit">Add</button>
    </form>
    <div role="status" aria-live="polite" class="sr-only"></div>

</section>
{% endblock %}

{% block footer %}
<script>
    const todoList = document.querySelector('.todo-list');
    const apiRoot = "http://localhost:8000/api";

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function addFeedback(msg) {
        let liveRegion = document.querySelector('[role="status"]');
        liveRegion.textContent = msg;
    }

    function buildList() {
    var todoList = document.getElementsByTagName('ul')[0];
    var apiUrl = `${apiRoot}/`;
    
    fetch(apiUrl)
        .then((res) => res.json())
        .then(function(data) { 
            var list = data;
            todoList.innerHTML = '';

            for (var i in list) {
                let todoStatus = list[i].completed ? " checked" : "";
                var todo = `
                    <li data-todo="${list[i].id}">
                        <input type="checkbox" id="todo-item-${i}" data-element="todo-toggle" ${todoStatus}>
                        <label for="todo-item-${i}">${list[i].title }</label>
                        <button data-element="todo-delete" aria-label="Delete ${list[i].title }?"><svg><use xlink:href="#trash-icon"></use></svg></button>
                    </li>
                `;

                //todoList.innerHTML += todo
                todoList.insertAdjacentHTML('beforeend', todo);
            }

            // Setup event handlers for delete buttons
            const todoButtons = [...todoList.querySelectorAll('[data-element="todo-delete"]')];
            todoButtons.forEach((btn) => {
                let todoTitle = btn.previousElementSibling.innerHTML;        
                let todoItem = btn.parentElement.getAttribute('data-todo');
                let apiURL = apiRoot + '/delete/' + todoItem + '/';

                btn.addEventListener('click', function() {
                    fetch(apiURL, {
                        method: 'DELETE',
                        headers: {
                            'Content-type':'application/json',
                            'X-CSRFToken':csrftoken
                        }
                    }).then(function(response) {
                        document.getElementById('todolist-label').focus();
                        addFeedback(`Item ${todoItem} has been deleted`);
                        buildList();
                        
                    });
                });
            })

            // Setup event handlers for toggles
            const todoToggles = [...todoList.querySelectorAll('[data-element="todo-toggle"]')];
            todoToggles.forEach((toggle) => {
                let todoItem = toggle.parentElement.getAttribute('data-todo');
                let apiURL = `${apiRoot}/update/${todoItem}/`;

                toggle.addEventListener('click', function() {       
                    let todoTitle = toggle.nextElementSibling.innerHTML;             
                    let todoStatus = toggle.checked ? true : false;
                    let todoState = toggle.checked ? "checked" : "unchecked";

                    fetch(apiURL, {
                        method: 'PATCH',
                        headers: {
                            'Content-type':'application/json',
                            'X-CSRFToken':csrftoken
                        },
                        body:JSON.stringify({'completed':todoStatus})
                    }).then(function(response) {
                        addFeedback(`${todoTitle} has been ${todoState}`);
                        buildList();
                    });  
                });
            });

        })
}

    var todoForm = document.getElementsByTagName('form')[0];
    if( todoForm ) {
    todoForm.addEventListener('submit', function(e) {
        e.preventDefault()
        var apiCreateURL = "http://localhost:8000/api/create/";
        var itemTitle = todoForm.getElementsByTagName('input')[0].value;
        
        fetch(apiCreateURL, {
            method: 'POST',
            headers: {
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken
            },
            body:JSON.stringify({'title':itemTitle, 'completed':false})
        }).then(function(response){
            addFeedback(`${itemTitle} has been added to the list`);
            todoForm.reset()
            buildList();
        });

    });
}

buildList();
</script>
{% endblock %}