:root {
    --color-primary: #4388f0;
}
::-webkit-input-placeholder {
    color: #444;
    font-style: italic;
}
.empty-state, ul:empty {
    display: none;
}

ul:empty + .empty-state {
    display: block;
}

:checked + label {
    text-decoration: line-through;
}

[tabindex"-1"]:focus { outline: none; }

.sr-only {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    background: #dcdcdc;
    font-size: calc(1em + 1vw);
}
body {
    display: grid;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-items: center;
}
main {
    background-color: #fefefe;
    width: 90%;
    max-width: 60ch;
    padding: 2rem;
    box-shadow: 0 0 0 10px rgba(100,100,100,.1), 0 5px 30px rgba(0,0,0,0.1);
}
section > * + * { 
    margin-top: 1.5rem;
}

h1 {
    font-size: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

ul {
    width: 100%;
    margin-left: 0;
    padding: 0;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li + li {
    margin-top: 0.5rem;
}

li label {
    flex: 2;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
}

li button {
    border: 0;
    padding: 0;
    background: 0;
}

button {
    margin: 0;
    line-height: 1;
    border: 0;
}

button svg {
    width: 1.125em;
    height: 1.125em;
}

form {
    display: flex;
}

form > * + * {
    margin-left: 0.25rem;
}

input, [type="submit"] {
    border: 0.125rem solid;
    border-radius: 0.125rem;
    line-height: 1;
}

input[type="text"] {
    padding: 0.25rem;
}

input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 0 0.125rem var(--color-primary);
}

[type="submit"] {
    background: #000;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border: 2px solid #000;
}

[type="submit"][disabled] {
    opacity: 0.33;
}
